.navbar {
	
	min-height: 95px;
	    margin-bottom: 0px;
 
}
.navbar-inverse {
filter: alpha(opacity=70);
	opacity: 0.8;
	padding-top: 20px;

}

.navbar-inverse .navbar-brand span{
	
	color: #73d62c;
	
	font-size: 80px;
}
.jumbotron {
	background-color: #101010;
	color: whitesmoke;
}

.main-text
{
    position: absolute;
    top: 350px;
    width: 96.66666666666666%;
    color: #FFF;
}

body {
	
	font-family: Federant;
	background-color: black;
}

.main-text h1 {
		font-family: Federant;
	font-size: 180px;
}

h1 span {
	color: #2cd65a;
	 opacity: 1;
}
/* Start main content area */

.sellArea, .table, .image-title, #images {
    visibility: hidden;
}

footer{
	visibility: hidden;
}

.fadeIn {
    -webkit-animation: animat_show 0.8s;
    animation: animat_show 0.8s;
    visibility: visible !important;
}

@-webkit-keyframes animat_show{
    0%{opacity:0}
    100%{opacity:1}
}


.content {
	margin-top: 300px;
	margin-bottom: 300px;
	margin-left: 50px;
	margin-right: 100px;
}


.sellArea {
	
	border: 10px solid #B22222;/*delete*/
	border-color: #73d62c;/*delete*/
	
	max-width: 500px;
	 border-radius: 25px;
}
.carousel .item {
    border-radius: 25px;
    background-color: rgba(0,0,0,0);
    overflow: hidden;
}
.carousel-control {
    border-radius: 25px;
}

.carousel-indicators .active { 
	 background-color: #73d62c;
	
}

.carousel-control .glyphicon,
.carousel-control .icon-prev,
.carousel-control .icon-next {
 background-color: #73d62c;
	border-radius: 25px;
	color: yellow;
}
/* Shoping Cart area   */

.table{
	
	color: #2cd65a;
	
	margin-top: 100px;  
}

.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}

/* End Shopping cart area */

/* start flikr pull images  */

.image-title{
	color: #2cd65a;
	margin-top: 300px;
}

ul#images li  {
  width: 300px;
  height: 300px;
  display: inline-block;
  position: relative;
  float: left;
  margin-bottom: 200px;
  margin-right: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
	  font-size: 1em;
  font-weight: lighter;
	color: whitesmoke;
}
#images li img {
  display: inline-block;
  width: 100%;
  height: 300px;
  border-radius: 25px;
  border-style: solid;
  border-width: 10px;
  border-color: rgba(255, 255, 255, .5);

  
}

ul#images {
  list-style-type: none;
}





footer {
	
 margin-top: 200px;
}

footer p {
font-size: 20px; 
	color: white;
	padding-top: 100px;
	text-align: center;
}

.navbar-nav {
	float: right;
}

/* End Main content area */