.navbar {
	
	min-height: 95px;
	    margin-bottom: 0px;
 
}
.navbar-inverse {
filter: alpha(opacity=70);
	opacity: 0.8;
	padding-top: 20px;

}

.navbar-inverse .navbar-brand span{
	
	color: #73d62c;
	padding-right 500px;
	font-size: 80px;
}
.jumbotron {
	background-color: #101010;
	color: whitesmoke;
}

.main-text
{
    position: absolute;
    top: 350px;
    width: 96.66666666666666%;
    color: #FFF;
}

body {
	
	font-family: Federant;
}

.main-text h1 {
		font-family: Federant;
	font-size: 180px;
}

h1 span {
	color: #2cd65a;
	 opacity: 1;
}

.spacer	{
	padding-top: 2000px;
}