.navbar {
	
	min-height: 95px;
	    margin-bottom: 0px;
 
}
.navbar-inverse {
filter: alpha(opacity=70);
	opacity: 0.8;
	padding-top: 20px;

}

.navbar-inverse .navbar-brand span{
	
	color: #73d62c;
	
	font-size: 80px;
}
.jumbotron {
	background-color: #101010;
	color: whitesmoke;
}

.main-text
{
    position: absolute;
    top: 350px;
    width: 96.66666666666666%;
    color: #FFF;
}

body {
	
	font-family: Federant;
	background-color: black;
}

.main-text h1 {
		font-family: Federant;
	font-size: 180px;
}

h1 span {
	color: #2cd65a;
	 opacity: 1;
}
/* Start main content area */
.content {
	margin-top: 100px;
	margin-bottom: 300px;
	margin-left: 50px;
	margin-right: 100px;
}


.sellArea {
	
	border: 10px solid #B22222;/*delete*/
	border-color: #73d62c;/*delete*/
	
	max-width: 500px;
	 border-radius: 25px;
}
.carousel .item {
    border-radius: 25px;
    background-color: rgba(0,0,0,0);
    overflow: hidden;
}
.carousel-control {
    border-radius: 25px;
}

.carousel-indicators .active { 
	 background-color: #73d62c;
	
}

.carousel-control .glyphicon,
.carousel-control .icon-prev,
.carousel-control .icon-next {
 background-color: #73d62c;
	border-radius: 25px;
	color: yellow;
}
/* Shoping Cart area   */

.table{
	
	color: #2cd65a;
	
	margin-top: 100px;  
}

.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 200px) {
   
	
}



/* End Shopping cart area */



/* End Main content area */