
/*Portrait iphone6   */

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 1702px)
  and (-webkit-min-device-pixel-ratio: 2)
{

	 .navbar {
		min-height: 55px;
	   
}

	.navbar-inverse .navbar-brand span{

	font-size: 30px;
}
	.navbar-inverse {

	padding-top: 8px;

}
	.main-text
{
   
    top: 150px;
   
}

	.main-text h1 {
	
	font-size: 100px;
}
	
}


/*  Landscape iphone 6 */
/* @media only screen and (min-resolution: 117dpi) and (max-resolution: 119dpi), only screen and (min-resolution: 131dpi) and (max-resolution: 133dpi), only screen and (min-resolution: 145dpi) and (max-resolution: 154dpi), only screen and (min-resolution: 162dpi) and (max-resolution: 164dpi), only screen and (min-resolution: 169dpi)
{

	 .navbar {
		min-height: 55px;
	   
}

	.navbar-inverse .navbar-brand span{

	font-size: 30px;
}
	.navbar-inverse {

	padding-top: 8px;

}
	.main-text
{
   
    top: 150px;
   
}

	.main-text h1 {
	
	font-size: 100px;
}
	
}
 */
